* { 
    box-sizing: border-box;
}

body { 
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#container { 
    box-sizing: content-box;
    width: 960px;
    height: 960px;
    max-width: 960px;
    max-height: 960px;
    border: dashed black 1px;
}

button { 
    width: 90px;
    height: auto;
    margin: 1%;
}
